<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul class="people_list">
  {{#each posts as |d|}}
    {{!-- {{d}}    --}}
    <div class="usernma">
 <li>   {{d.username}} </li>
 </div>
    <div class="caption">
   <li>  {{d.caption}} </li>
   </div>
   <div class="imgURL">
   <li> <img src="{{d.imgURL}}" alt="">  </li>
   </div>
   <div class="likes">
  <li>    {{d.likes}}</li>
  </div>
  {{/each}}
</ul>
    </div>
</body>
</html>